@model iClinic.Models.Thuoc

@{
    ViewBag.Title = "Create";
}

@section PageHeader
{
    Nhập Thuốc
}

@section Breadcrumb
{
    <li class="active">Thuốc</li>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Form</h3>
        </div>
        <div class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.TenThuoc, new { @class = "col-sm-2 control-label" })

                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.TenThuoc, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TenThuoc, String.Empty, new { @style = "color: #dd4b39;" })
                    </div>
                    
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DonGia, new { @class = "col-sm-2 control-label" })

                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.DonGia, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DonGia, String.Empty, new { @style = "color: #dd4b39;" })
                    </div>
                    
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SoLuong, new { @class = "col-sm-2 control-label" })

                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.SoLuong, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SoLuong, String.Empty, new { @style = "color: #dd4b39;" })
                    </div>
                    
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DonViTinhID, "Đơn Vị Tính", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.DropDownList("DonViTinhID", null, String.Empty, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DonViTinhID, String.Empty, new { @style = "color: #dd4b39;" })
                    </div>
                    
                </div>
                <div class="box-footer">
                    <button type="reset" class="btn btn-default">Hủy</button>
                    <button type="submit" class="btn btn-info pull-right">Lưu</button>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
