@model iClinic.Models.Thuoc

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Thuoc</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenThuoc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenThuoc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DonGia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DonGia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoLuong)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoLuong)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DonViTinh.TenDonViTinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DonViTinh.TenDonViTinh)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MaThuoc }) |
    @Html.ActionLink("Back to List", "Index")
</p>
