@model iClinic.Models.ChiTietDieuTri
@using iClinic.Models

@{
    ViewBag.Title = "CapNhatTinhTrang";
}


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-sm-5">Mã hồ sơ: </label>
            @Html.DisplayFor(model => model.HoSoDieuTriNoiTruID)
        </div>

        <div class="form-group">
            <label class="control-label col-sm-5">Mã bệnh nhân: </label>
            @Html.DisplayFor(model => model.HoSoDieuTriNoiTru.BenhNhanID)
        </div>

        <div class="form-group">
            <label class="control-label col-sm-5">Tên bệnh nhân: </label>
            @Html.DisplayFor(model => model.HoSoDieuTriNoiTru.BenhNhan.TenBenhNhan)
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-sm-5">Chẩn đoán: </label>
            @Html.DisplayFor(model => model.HoSoDieuTriNoiTru.ChanDoan)
        </div>

        <div class="form-group">
            <label class="control-label col-sm-5">Bác sĩ điều trị </label>
            @Html.DisplayFor(model => model.HoSoDieuTriNoiTru.BacSiDieuTri.TenNhanVien)
        </div>

        <div class="form-group">
            <label class="control-label col-sm-5">Ngày bắt đầu điều trị: </label>
            @Html.DisplayFor(model => model.HoSoDieuTriNoiTru.NgayBatDauDieuTri)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <table class="table table-bordered table-striped">
                <col width="250">
                <tr>
                    <th>Ngày</th>
                    <th>Tình trạng</th>
                    <th>Ghi chú</th>
                </tr>
                @if (ViewBag.dsChiTiet != null)
                {
                    foreach (ChiTietDieuTri ct in ViewBag.dsChiTiet)
                    {
                        <tr>
                            <td>
                                @ct.NgayDieuTri
                            </td>
                            <td>
                                @ct.TinhTrang
                            </td>
                            <td>
                                @ct.GhiChu
                            </td>
                        </tr>
                    }
                }

                <tr>


            </table>
        </div>
    </div>

    <div class="col-md-6">
        <div class="box box-info">

            <div class="box-header with-border">
                <h3 class="box-title">@DateTime.Now.ToString()</h3>
            </div>
            <div class="form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="box-body">
                        @Html.HiddenFor(model => model.HoSoDieuTriNoiTruID)
                        <div class="form-group">
                            <div class="col-sm-3">
                                @Html.LabelFor(model => model.TinhTrang)
                            </div>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.TinhTrang, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TinhTrang, String.Empty, new { @style = "color: #dd4b39;" })
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-3">
                                @Html.LabelFor(model => model.GhiChu)
                            </div>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.GhiChu, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div style="float:right">
                            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Trở lại</a>
                            <button type="submit" class="btn btn-info" style="margin-left: 30px;" id="btnSave"><i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu</button>
                        </div>
                    </div>


                }
            </div>

        </div>
    </div>

</div>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="@Url.Content("~/Scripts/js/pnotify.custom.min.js")"></script>

@if (ViewBag.Msg != null)
{
    <script>
            new PNotify({
                title: '@ViewBag.Msg.Title',
                text: '@ViewBag.Msg.Content',
                type: '@ViewBag.Msg.Type',
                styling: 'bootstrap3'
            });
    </script>
}
}
