@model iClinic.Models.Phong

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Phong</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenPhong)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenPhong)
    </div>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.BoPhan.TenBoPhan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BoPhan.TenBoPhan)
    </div>*@
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MaPhong }) |
    @Html.ActionLink("Back to List", "Index")
</p>
