@*@model IEnumerable<iClinic.Models.BenhNhan>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenBenhNhan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgheNghiep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TienSuBenh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTiepNhan)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenBenhNhan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GioiTinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgheNghiep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TienSuBenh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTiepNhan)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaBenhNhan }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaBenhNhan }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaBenhNhan })
        </td>
    </tr>
}

</table>*@

@model PagedList.IPagedList<iClinic.Models.BenhNhan>
@using PagedList.Mvc

<div class="box box-success">
    @*<div class="box-header">
            <h3 class="box-title">Danh sách bệnh nhân</h3>
        </div>*@

    <div class="box-body">
        <div style="float: right;">
            @using (Html.BeginForm("Create", "DonTiep", FormMethod.Get))
            {
                <p>
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <button type="submit"><i class="fa fa-search"></i></button>
                </p>
            }
        </div>

        <table class="table table-bordered table-hover">
            <tr>
                <th>Mã bệnh nhân</th>
                <th>Tên bệnh nhân</th>
                <th>Giới tính</th>
                <th>Ngày sinh</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr onclick="location.href = '@Url.Action("Create", "DonTiep", new { id = item.MaBenhNhan})'" style="cursor: pointer;">
                    <td>
                        @Html.DisplayFor(modelItem => item.MaBenhNhan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenBenhNhan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GioiTinh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayTiepNhan)
                    </td>
                </tr>
            }

        </table>

        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Create", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>
