@model PagedList.IPagedList<iClinic.Models.BenhNhan>
@using PagedList.Mvc

@{
    ViewBag.Title = "Danh sách bệnh nhân";
}

@section PageHeader
{
    Danh sách bệnh nhân
}

@section Breadcrumb
{
    <li class="active">Danh sách bệnh nhân</li>
}

@*<h2>Index</h2>*@
<div class="box box-info">
    @*<div class="box-header">
        <h3 class="box-title">Danh sách bệnh nhân</h3>
    </div>*@

    <div class="box-body">
        <div class="row">
            <div class="col-sm-6">
                <p>
                    @Html.ActionLink("Thêm mới", "Create")
                </p>
            </div>
            <div class="col-sm-6">
                <div class="pull-right">
                    @using (Html.BeginForm("Index", "DonTiep", FormMethod.Get))
                    {
                        <p>
                            Tìm tên bệnh nhân: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </p>
                    }
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.TenBenhNhan)*@
                    @Html.ActionLink("Tên bệnh nhân", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.GioiTinh)*@
                    Giới tính
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.NgaySinh)*@
                    Ngày sinh
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.NgheNghiep)*@
                    Nghề nghiệp
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.DiaChi)*@
                    Địa chỉ
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.SoDT)*@
                    Số điện thoại
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.TienSuBenh)*@
                    Tiền sử bệnh
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.NgayTiepNhan)*@
                    @Html.ActionLink("Ngày tiếp nhận", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenBenhNhan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GioiTinh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgaySinh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgheNghiep)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoDT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TienSuBenh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayTiepNhan)
                    </td>
                    <td>
                        @Html.ActionLink("Sửa", "Edit", new { id = item.MaBenhNhan }) |
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.MaBenhNhan }) |
                        @Html.ActionLink("Xóa", "Delete", new { id = item.MaBenhNhan })
                    </td>
                </tr>
            }

        </table>

        <br />
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>
