@model IEnumerable<iClinic.Models.DonViTinh>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenDonViTinh)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDonViTinh)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaDonViTinh }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaDonViTinh }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaDonViTinh })
            </td>
        </tr>
    }

</table>
