@model PagedList.IPagedList<iClinic.Models.BenhNhan>
@using PagedList.Mvc

<div class="box box-success">
    <div class="box-header">
            <h4 class="box-title">Danh sách bệnh nhân</h4>
    </div>

    <div class="box-body">
        <div style="float: right;">
            @using (Html.BeginForm("Create", "KhamBenh", FormMethod.Get))
            {
                <p>
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <button type="submit"><i class="fa fa-search"></i></button>
                </p>
            }
        </div>

        <table class="table table-bordered table-hover">
            <tr>
                <th>Mã bệnh nhân</th>
                <th>Tên bệnh nhân</th>
                <th>Giới tính</th>
                <th>Ngày sinh</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr onclick="location.href = '@Url.Action("Create", "KhamBenh", new { MaBenhNhan = item.MaBenhNhan })'" style="cursor: pointer;">
                    <td>
                        @Html.DisplayFor(modelItem => item.MaBenhNhan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenBenhNhan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GioiTinh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayTiepNhan)
                    </td>
                </tr>
            }

        </table>

        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Create", new { page, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>

