@model iClinic.Models.PhieuKhamBenh
@using iClinic.Models

@{
    ViewBag.Title = "Create";
}

@section PageHeader
{
    Khám Bệnh
}

@section Breadcrumb
{
    <li class="active">Khám Bệnh</li>
}

@*<h2>Create</h2>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Phiếu Khám Bệnh</h3>
        </div>
        <div class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.BenhNhanID, "Bệnh Nhân", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.DropDownList("BenhNhanID", null, String.Empty, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.BenhNhanID)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BacSiID, "Bác Sĩ Khám", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.DropDownList("BacSiID", null, String.Empty, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.BacSiID)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BenhNhan.TienSuBenh, new { @class = "col-sm-2 control-label" })

                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.BenhNhan.TienSuBenh, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.BenhNhan.TienSuBenh)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NgayKham, new { @class = "col-sm-2 control-label" })

                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.NgayKham, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.NgayKham)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ChanDoan, new { @class = "col-sm-2 control-label" })

                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.ChanDoan, (String)"Chẩn đoán", new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.ChanDoan)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.LoiDan, new { @class = "col-sm-2 control-label" })

                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.LoiDan, (String)"Lời Dặn", new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.LoiDan)
                </div>
            </div>
        </div>
        @*Chi Tiết Phiếu Khám*@
        <div class="box-header with-border">
            <div>
                <h3 class="box-title">Chi Tiết Phiếu Khám Bệnh</h3>
                <button type="button" class="btn btn-info pull-right" style="float: right; background-color: #78d678;" onclick="clickAdd()">Add</button>
                @*<input type="button" value="Add"  />*@
            </div>
        </div>
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover" id="tb_dsPhieuYeuCauDichVu">
                @{
                    IEnumerable<DichVu> dsDichVu = ViewBag.DichVuID as IEnumerable<DichVu>;
                    IEnumerable<Phong> dsPhong = ViewBag.DanhSachPhong as IEnumerable<Phong>;
                    IEnumerable<NhanVien> dsBacSi = ViewBag.DanhSachBacSi as IEnumerable<NhanVien>;
                }

                <tr class="tr_structure" id="tr_PhieuYCDV" hidden>
                    <td>
                        <select class="form-control ddl_DichVuID" name="">
                            @foreach (var itemDV in dsDichVu)
                            {
                                <option value="@itemDV.MaDichVu">@itemDV.TenDichVu</option>
                            }
                        </select>
                    </td>
                    @* benh nhan *@
                    <td><input class="form-control txt_BenhNhan" name="" type="text" value="" readonly/></td>
                    @* bac si *@
                    <td>
                        <select class="form-control ddl_BacSi" name="">
                            @foreach (var itemBS in dsBacSi)
                            {
                                <option value="@itemBS.MaNhanVien">@itemBS.TenNhanVien</option>
                            }
                        </select>
                    </td>
                    @* phong *@
                    <td>
                        <select class="form-control ddl_Phong" name="">
                            @foreach (var itemP in dsPhong)
                            {
                                <option value="@itemP.MaPhong">@itemP.TenPhong</option>
                            }
                        </select>
                    </td>
                    @* don gia *@
                    <td><input class="form-control txt_DonGia" name="" type="text" value="" readonly/></td>
                    @* thoi gian thuc hien *@
                    <td><input class="form-control txt_ThoiGianThucHien" name="" type="date" value="" /></td>
                    @* ngay lap *@
                    <td><input class="form-control txt_NgayLap" name="" type="text" value="" readonly/></td>
                    @*<td>@Html.TextBox("PhieuKhamBenhID")</td>*@
                </tr>
                <tr class="first_row" data-id="-1">
                    <th>Tên Dịch Vụ</th>
                    <th>Bệnh Nhân</th>
                    <th>Bác Sĩ Thực Hiện</th>
                    <th>Phòng khám</th>
                    <th>Đơn Giá</th>
                    <th>Thời Gian Thực Hiện</th>
                    <th>Ngày Lập</th>
                    <th></th>
                </tr>
            </table>
        </div>
        <div class="box-footer">
            <button type="reset" class="btn btn-default">Hủy</button>
            <button type="submit" class="btn btn-info pull-right">Lưu</button>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    function clickAdd() {
        //var countRow = document.getElementById("countRow").textContent;
        //document.getElementById("countRow").innerHTML = countRow;
        var idLast = parseInt($("#tb_dsPhieuYeuCauDichVu").find("tr:last-child").attr("data-id")) + 1;
        var trData = $("#tr_PhieuYCDV").html();
        var trAdd = "<tr class=\"trAdded\" data-id=\"" + idLast + "\">" + trData + "</tr>";
        $('#tb_dsPhieuYeuCauDichVu > tbody:last-child').append(trAdd);
        updateData()
    }
    function updateData() {
        var idFirst = parseInt($("#tb_dsPhieuYeuCauDichVu").find(".first_row").attr("data-id"));
        $(".trAdded").each(function () {
            idFirst++;
            $(this).attr("data-id", idFirst);
            var ddl_DichVu = "[" + idFirst + "].DichVuID";
            var txt_BenhNhan = "[" + idFirst + "].BenhNhanID";
            var ddl_BacSi = "[" + idFirst + "].BacSiID";
            var ddl_Phong = "[" + idFirst + "].PhongID";
            var txt_DonGia = "[" + idFirst + "].DonGia";
            var txt_ThoiGianThucHien = "[" + idFirst + "].ThoiGianThucHien";
            var txt_NgayLap = "[" + idFirst + "].NgayLap";
            $(this).find(".ddl_DichVuID").attr("name", ddl_DichVu);
            $(this).find(".txt_BenhNhan").attr("name", txt_BenhNhan);
            $(this).find(".ddl_BacSi").attr("name", ddl_BacSi);
            $(this).find(".ddl_Phong").attr("name", ddl_Phong);
            $(this).find(".txt_DonGia").attr("name", txt_DonGia);
            $(this).find(".txt_ThoiGianThucHien").attr("name", txt_ThoiGianThucHien);
            $(this).find(".txt_NgayLap").attr("name", txt_NgayLap);
        });
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
