@model iClinic.Models.PhieuKhamBenh
@using iClinic.Models

@{
    ViewBag.Title = "Create";
}

@section Title{
    Khám bệnh
}

@section PageHeader
{
    Khám Bệnh
}

@section Breadcrumb
{
    <li class="active">Khám Bệnh</li>
}

@*<h2>Create</h2>*@

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Khám Bệnh</h3>
                </div>
                <div class="form-horizontal">
                    <div class="box-body">
                        <div hidden>
                            @Html.LabelFor(model => model.MaPhieuKhamBenh, "Mã Phiếu Khám")
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.MaPhieuKhamBenh, new { id = "MaPhieuKham" })
                            </div>
                        </div>
                        <div hidden>
                            @Html.LabelFor(model => model.BenhNhanID, "Bệnh Nhân")
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.BenhNhanID, new { id = "BenhNhanID" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tên Bệnh Nhân</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="BenhNhanName" value="" />
                            </div>
                        </div>
                        <div hidden>
                            @Html.LabelFor(model => model.BacSiID, "Bác Sĩ Khám")
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.BacSiID, new { @value = 1 })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.LyDoKham, "Lý Do Khám", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextAreaFor(model => model.LyDoKham, new { @class = "form-control", id = "LyDoKham" })
                            </div>
                            @*@Html.ValidationMessageFor(model => model.BenhNhan.TienSuBenh)*@
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ChanDoan, new { @class = "col-sm-2 control-label" })

                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.ChanDoan, (String)"Chẩn đoán", new { @class = "form-control", id = "ChanDoan" })
                            </div>
                            @*@Html.ValidationMessageFor(model => model.ChanDoan)*@
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.LoiDan, new { @class = "col-sm-2 control-label" })

                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.LoiDan, (String)"Lời Dặn", new { @class = "form-control", id = "LoiDan" })
                            </div>
                            @*@Html.ValidationMessageFor(model => model.LoiDan)*@
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.NgayKham, new { @class = "col-sm-2 control-label" })

                            <div class="col-sm-10">
                                <h4>@DateTime.Now.ToString("dd/MM/yyyy")</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="reset" class="btn btn-default">Hủy</button>
                    <button type="button" onclick="updatePhieuKham()" class="btn btn-info pull-right">Cập nhật</button>
                </div>
            </div>
        }
        @* Danh sách dịch vụ đã khám *@
        <div class="box box-info">
            <div class="box-header with-border">
                <div>
                    <h3 class="box-title">Dịch vụ đã thực hiện</h3>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover" id="tb_DichVuDaThucHien">
                        <thead>
                            <tr>
                                <th>Bác Sĩ Thực Hiện</th>
                                <th>Tên Dịch Vụ</th>
                                <th>Chỉ Số</th>
                                <th>Kết Quả</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        @Html.Action("_SideListPhieuKham", "KhamBenh")
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Create", "KhamBenh"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="box box-info">
                <div class="box-header with-border">
                    <div>
                        <h3 class="box-title">Thêm Dịch Vụ</h3>
                        <button type="button" class="btn btn-info pull-right" style="float: right; background-color: #78d678;" onclick="clickAdd()">Add</button>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="box-body table-responsive no-padding">
                        <div hidden>
                            @Html.LabelFor(model => model.MaPhieuKhamBenh, "Mã Phiếu Khám")
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.MaPhieuKhamBenh, new { id = "MaPhieuKham2" })
                            </div>
                        </div>
                        <table class="table table-hover" id="tb_dsPhieuYeuCauDichVu">
                            @{IEnumerable<DichVu> dsDichVu = ViewBag.DichVuID as IEnumerable<DichVu>;}
                            <tr class="tr_structure" id="tr_PhieuYCDV" hidden>
                                <td>
                                    <select class="form-control ddl_DichVuID" name="" onchange="changeDichVu(this)">
                                        <option value=""></option>
                                        @foreach (var itemDV in dsDichVu)
                                        {
                                            <option value="@itemDV.MaDichVu">@itemDV.TenDichVu</option>
                                        }
                                    </select>
                                </td>
                                <td hidden>
                                    <input class="txt_BenhNhan" name="" type="text" value="" hidden />
                                    <input class="txt_BenhNhanShow" name="" type="text" value="" readonly hidden />
                                </td>
                                <td>
                                    <input class="ddl_Phong" name="" type="text" value="" hidden />
                                    <input class="form-control ddl_PhongShow" type="text" value="" readonly />
                                </td>
                                <td><input class="form-control txt_DonGia" name="" type="text" value="" readonly /></td>
                                <td><input type="button" value="Xóa" onclick="deleteDichVu(this)" /></td>
                            </tr>
                            <tr class="first_row" data-id="-1">
                                <th>Tên Dịch Vụ</th>
                                <th hidden>Bệnh Nhân</th>
                                <th>Phòng khám</th>
                                <th>Đơn Giá</th>
                                <th></th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="reset" class="btn btn-default">Hủy</button>
                    <button type="submit" class="btn btn-info pull-right">Lưu và in phiếu khám</button>
                </div>
            </div>
        }
    </div>
    <div class="col-md-6">
        @using (Html.BeginForm("CreateDonThuoc", "KhamBenh"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="box box-info">
                <div class="box-header with-border">
                    <div>
                        <h3 class="box-title">Kê Đơn Thuốc</h3>
                        <button type="button" class="btn btn-info pull-right" style="float: right; background-color: #78d678;" onclick="clickAddThuoc()">Add</button>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="box-body table-responsive no-padding">
                        <div hidden>
                            @Html.LabelFor(model => model.MaPhieuKhamBenh, "Mã Phiếu Khám")
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.MaPhieuKhamBenh, new { id = "MaPhieuKham3" })
                            </div>
                        </div>
                        <table class="table table-hover" id="tb_DanhSachThuoc">
                            @{IEnumerable<Thuoc> dsThuoc = ViewBag.DanhSachThuoc as IEnumerable<Thuoc>;}
                            <tr class="tr_structure" id="tr_Thuoc" hidden>
                                <td>
                                    <select class="form-control tb_MaThuoc" name="" onchange="changeDichVu(this)">
                                        <option value=""></option>
                                        @foreach (var itemDV in dsThuoc)
                                        {
                                            <option value="@itemDV.MaThuoc">@itemDV.TenThuoc</option>
                                        }
                                    </select>
                                </td>
                                <td><input class="form-control tb_SoLuongThuoc" type="number" name="" value="0" /></td>
                                <td><input class="form-control tb_SangThuoc" type="number" name="" value="0" /></td>
                                <td><input class="form-control tb_TruaThuoc" type="number" name="" value="0" /></td>
                                <td><input class="form-control tb_ChieuThuoc" type="number" name="" value="0" /></td>
                                <td><input class="form-control tb_ToiThuoc" type="number" name="" value="0" /></td>
                                <td><input type="button" value="Xóa" onclick="deleteThuoc(this)"/></td>
                            </tr>
                            <tr class="first_row" data-id="-1">
                                <th>Tên Thuốc</th>
                                <th>Số Lượng</th>
                                <th>Sáng</th>
                                <th>Trưa</th>
                                <th>Chiều</th>
                                <th>Tối</th>
                                <th></th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="reset" class="btn btn-default">Hủy</button>
                    <button type="submit" class="btn btn-info pull-right">Lưu và in hóa đơn</button>
                </div>
            </div>
        }
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/js/pnotify.custom.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/datepicker/bootstrap-datepicker.js")"></script>
    <script>
        $('.datepicker').datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy'
        });
    </script>
    @if (ViewBag.Msg != null)
    {
        <script>
            new PNotify({
                title: '@ViewBag.Msg.Title',
                text: '@ViewBag.Msg.Content',
                type: '@ViewBag.Msg.Type',
                styling: 'bootstrap3'
            });
        </script>
    }

    <script>
        function deleteDichVu(elementCurrent) {
            var eleParent = elementCurrent.parentElement.parentElement;
            $(eleParent).remove();
            updateData();
        }
        function clickAdd() {
            //var countRow = document.getElementById("countRow").textContent;
            //document.getElementById("countRow").innerHTML = countRow;
            var idLast = parseInt($("#tb_dsPhieuYeuCauDichVu").find("tr:last-child").attr("data-id")) + 1;
            var trData = $("#tr_PhieuYCDV").html();
            var trAdd = "<tr class=\"trAdded\" data-id=\"" + idLast + "\">" + trData + "</tr>";
            $('#tb_dsPhieuYeuCauDichVu > tbody:last-child').append(trAdd);
            updateData();
            var eleBenhNhan = document.getElementById("BenhNhanID");
            changeBenhNhan(eleBenhNhan);
        }
        function updateData() {
            var idFirst = parseInt($("#tb_dsPhieuYeuCauDichVu").find(".first_row").attr("data-id"));
            $(".trAdded").each(function () {
                idFirst++;
                $(this).attr("data-id", idFirst);
                var ddl_DichVu = "[" + idFirst + "].DichVuID";
                var txt_BenhNhan = "[" + idFirst + "].BenhNhanID";
                var ddl_BacSi = "[" + idFirst + "].BacSiID";
                var ddl_Phong = "[" + idFirst + "].PhongID";
                var txt_DonGia = "[" + idFirst + "].DonGia";
                var txt_ThoiGianThucHien = "[" + idFirst + "].ThoiGianThucHien";
                $(this).find(".ddl_DichVuID").attr("name", ddl_DichVu);
                $(this).find(".txt_BenhNhan").attr("name", txt_BenhNhan);
                $(this).find(".ddl_BacSi").attr("name", ddl_BacSi);
                $(this).find(".ddl_Phong").attr("name", ddl_Phong);
                $(this).find(".txt_DonGia").attr("name", txt_DonGia);
            });
        }
        function changeDichVu(eleCurrent) {
            var idDichVu = eleCurrent.options[eleCurrent.selectedIndex].value;
            if (idDichVu != "") {
                $.ajax({
                    type: "POST",
                    url: "GetPhongByIdDichVu",
                    data: JSON.stringify({ dichVuID: idDichVu }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: OnSuccess,
                });
                function OnSuccess(response) {
                    var parentTr = eleCurrent.parentElement.parentElement;
                    var json = JSON.parse(response);
                    var MaPhong = json['MaPhong'];
                    var TenPhong = json['TenPhong'];
                    var DichVuData = json['DichVu'];
                    var DonGia = DichVuData['DonGia'];
                    $(parentTr).find(".ddl_Phong").attr("value", MaPhong);
                    $(parentTr).find(".ddl_PhongShow").attr("value", TenPhong);
                    $(parentTr).find(".txt_DonGia").attr("value", DonGia);
                }
            } else {
                var parentTr = eleCurrent.parentElement.parentElement;
                $(parentTr).find(".ddl_Phong").attr("value", "");
                $(parentTr).find(".ddl_PhongShow").attr("value", "");
                $(parentTr).find(".txt_DonGia").attr("value", "");
            }
        }
        function changeBenhNhan() {
            var valueEleBenhNhan = document.getElementById("BenhNhanID").value;
            $(".trAdded").each(function () {
                $(this).find(".txt_BenhNhan").attr("value", valueEleBenhNhan);
            });
        }
        function selectBenhNhan(id, name) {
            var tbIdBenhNhan = document.getElementById("BenhNhanID");
            var tbNameBenhNhan = document.getElementById("BenhNhanName");
            tbIdBenhNhan.value = id;
            tbNameBenhNhan.value = name;
            changeBenhNhan();
        }
        function clearAll() 
        {
            //xóa data của id LyDoKham, ChanDoan, LoiDan
            document.getElementById("LyDoKham").value = "";
            document.getElementById("ChanDoan").value = "";
            document.getElementById("LoiDan").value = "";
            //xóa các class trAdded, trThuocAdded
            $('table tr.trAdded').remove();
            $('table tr.trThuocAdded').remove();
            updateData()
        }
        function selectPhieuKhamBenh(MaPhieuKhamBenh, MaBenhNhan, TenBenhNhan) {
            var maPhieuKham = document.getElementById("MaPhieuKham");
            var maPhieuKham2 = document.getElementById("MaPhieuKham2");
            var maPhieuKham3 = document.getElementById("MaPhieuKham3");
            maPhieuKham.value = MaPhieuKhamBenh;
            maPhieuKham2.value = MaPhieuKhamBenh;
            MaPhieuKham3.value = MaPhieuKhamBenh;
            selectBenhNhan(MaBenhNhan, TenBenhNhan);
            clearAll();
            //tb_DichVuDaThucHienif (idDichVu != "") {
            $.ajax({
                type: "POST",
                url: "GetDanhSachDichVu",
                data: JSON.stringify({ MaPhieuKham: MaPhieuKhamBenh }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
            });
            function OnSuccess(response) {
                var json = JSON.parse(response);
                $("#tb_DichVuDaThucHien > tbody").empty();
                for (var i = 0; i < json.length; i++) {
                    var tenBS = json[i]['BacSi'];
                    if (tenBS) {
                        tenBS = json[i]['BacSi']['TenBacSi'];
                    } else {
                        tenBS = '';
                    }
                    var tenDV = json[i]['DichVu'];
                    if (tenDV) {
                        tenDV = json[i]['DichVu']['TenDichVu'];
                    } else {
                        tenDV = '';
                    }
                    var chiSo = json[i]['ChiSo'];
                    if (!chiSo) {
                        chiSo = '';
                    }
                    var ketQua = json[i]['KetQua'];
                    if (!ketQua) {
                        ketQua = '';
                    }
                    var tbRow = "<tr><td>" + tenBS + "</td><td>" + tenDV + "</td><td>" + chiSo + "</td><td>" + ketQua + "</td></tr>";
                    $('#tb_DichVuDaThucHien > tbody:last-child').append(tbRow);
                }
            }
        }
    </script>
    <script>
        function deleteThuoc(elementCurrent)
        {
            var eleParent = elementCurrent.parentElement.parentElement;
            $(eleParent).remove();
            updateAllRowThuoc();
        }
        function clickAddThuoc()
        {
            //lay id cuoi cung tang len 1 
            var idRowLast = parseInt($('#tb_DanhSachThuoc').find("tr:last-child").attr("data-id")) + 1;
            //lay cau truc tr_Thuoc ra
            var structureRowThuoc = $("#tr_Thuoc").html();
            //tao string row co class la trThuocAdded, dataid = tren, va noi dung la tr_Thuoc
            var rowThuoc = "<tr class=\"trThuocAdded\" data-id=\"" + idRowLast + "\">" + structureRowThuoc + "</tr>";
            //lay table ra lay child cuoi cung add tr nay vao.
            $('#tb_DanhSachThuoc > tbody:last-child').append(rowThuoc);
            //update name cua moi row
            updateAllRowThuoc();
        }
        function updateAllRowThuoc()
        {
            var idFirst = parseInt($("#tb_DanhSachThuoc").find(".first_row").attr("data-id"));
            $(".trThuocAdded").each(function () {
                idFirst++;
                $(this).attr("data-id", idFirst);
                var tb_MaThuoc = "[" + idFirst + "].ThuocID";
                var tb_SoLuongThuoc = "[" + idFirst + "].SoLuong";
                var tb_SangThuoc = "[" + idFirst + "].Sang";
                var tb_TruaThuoc = "[" + idFirst + "].Trua";
                var tb_ChieuThuoc = "[" + idFirst + "].Chieu";
                var tb_ToiThuoc = "[" + idFirst + "].Toi";
                $(this).find(".tb_MaThuoc").attr("name", tb_MaThuoc);
                $(this).find(".tb_SoLuongThuoc").attr("name", tb_SoLuongThuoc);
                $(this).find(".tb_SangThuoc").attr("name", tb_SangThuoc);
                $(this).find(".tb_TruaThuoc").attr("name", tb_TruaThuoc);
                $(this).find(".tb_ChieuThuoc").attr("name", tb_ChieuThuoc);
                $(this).find(".tb_ToiThuoc").attr("name", tb_ToiThuoc);
            });
        }
    </script>
    <script>
        function updatePhieuKham()
        {
            //lay ma + thong tin can update.
            var maPhieuKham = (document.getElementById("MaPhieuKham").value).toString();
            var lyDoKham = document.getElementById("LyDoKham").value;
            var chanDoan = document.getElementById("ChanDoan").value;
            var loiDan = document.getElementById("LoiDan").value;
            var dataSend = JSON.stringify({MaPhieuKhamBenh: maPhieuKham, LyDoKham: lyDoKham, ChanDoan: chanDoan, LoiDan: loiDan });
            //update
            if (maPhieuKham != "" && (lyDoKham != "" || chanDoan != "" || loiDan != "")) {
                $.ajax({
                    type: 'POST',
                    url: "UpdatePhieuKham",
                    data: dataSend,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: onSuccess,
                });
                function onSuccess(response) {
                    new PNotify({
                        title: 'Thành công',
                        text: response,
                        type: 'success',
                        styling: 'bootstrap3'
                    });
                }
            }
            else
            {
                new PNotify({
                    title: 'Cảnh báo',
                    text: "Chọn bệnh nhân và điền thông tin cần update.",
                    type: 'error',
                    styling: 'bootstrap3'
                });
            }
        }
    </script>
}
