@model iClinic.Models.PhieuKhamBenh

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PhieuKhamBenh</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayKham)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayKham)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChanDoan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChanDoan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LoiDan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoiDan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BenhNhan.TenBenhNhan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BenhNhan.TenBenhNhan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BacSi.TenNhanVien)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BacSi.TenNhanVien)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MaPhieuKhamBenh }) |
    @Html.ActionLink("Back to List", "Index")
</p>
