@model iClinic.Models.PhieuYeuCauDichVu

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PhieuYeuCauDichVu</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ThoiGianThucHien)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ThoiGianThucHien)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayLap)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayLap)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DonGia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DonGia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChanDoan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChanDoan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LoiDan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoiDan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BenhNhanID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BenhNhanID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BacSi.TenNhanVien)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BacSi.TenNhanVien)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DichVu.TenDichVu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DichVu.TenDichVu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PhieuKhamBenh.ChanDoan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhieuKhamBenh.ChanDoan)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
