@model IEnumerable<iClinic.Models.PhieuYeuCauDichVu>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianThucHien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayLap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChanDoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoiDan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BenhNhanID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BacSi.TenNhanVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DichVu.TenDichVu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhieuKhamBenh.ChanDoan)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianThucHien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayLap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChanDoan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoiDan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BenhNhanID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BacSi.TenNhanVien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DichVu.TenDichVu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhieuKhamBenh.ChanDoan)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPhieuYeuCauDichVu }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaPhieuYeuCauDichVu }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaPhieuYeuCauDichVu })
        </td>
    </tr>
}

</table>
