@model iClinic.Models.PhieuYeuCauDichVu

<tr>
    @Html.HiddenFor(model => model.ThoiGianThucHien)
    <td class="editor-field">
        @Html.EditorFor(model => model.ThoiGianThucHien)
        @Html.ValidationMessageFor(model => model.ThoiGianThucHien)
    </td>

    @Html.HiddenFor(model => model.NgayLap)
    <td class="editor-field">
        @Html.EditorFor(model => model.NgayLap)
        @Html.ValidationMessageFor(model => model.NgayLap)
    </td>

    @Html.HiddenFor(model => model.DonGia)
    <td class="editor-field">
        @Html.EditorFor(model => model.DonGia)
        @Html.ValidationMessageFor(model => model.DonGia)
    </td>

    @Html.HiddenFor(model => model.ChanDoan)
    <td class="editor-field">
        @Html.EditorFor(model => model.ChanDoan)
        @Html.ValidationMessageFor(model => model.ChanDoan)
    </td>

    @Html.HiddenFor(model => model.LoiDan)
    <td class="editor-field">
        @Html.EditorFor(model => model.LoiDan)
        @Html.ValidationMessageFor(model => model.LoiDan)
    </td>

    @Html.HiddenFor(model => model.BenhNhanID)
    <td class="editor-field">
        @Html.EditorFor(model => model.BenhNhanID)
        @Html.ValidationMessageFor(model => model.BenhNhanID)
    </td>

    @Html.HiddenFor(model => model.BacSiID, "BacSi")
    <td class="editor-field">
        @Html.DropDownList("BacSiID", String.Empty)
        @Html.ValidationMessageFor(model => model.BacSiID)
    </td>

    @Html.HiddenFor(model => model.DichVuID, "DichVu")
    <td class="editor-field">
        @Html.DropDownList("DichVuID", String.Empty)
        @Html.ValidationMessageFor(model => model.DichVuID)
    </td>

    @Html.HiddenFor(model => model.PhieuKhamBenhID, "PhieuKhamBenh")
    <td class="editor-field">
        @Html.DropDownList("PhieuKhamBenhID", String.Empty)
        @Html.ValidationMessageFor(model => model.PhieuKhamBenhID)
    </td>
</tr>