@model IEnumerable<iClinic.Models.DonThuoc>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayKeDon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhieuKhamBenh.TienSuBenh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BacSiKeDon.TenNhanVien)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayKeDon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhieuKhamBenh.TienSuBenh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BacSiKeDon.TenNhanVien)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaDonThuoc }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaDonThuoc }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaDonThuoc })
        </td>
    </tr>
}

</table>
