@model iClinic.Models.NhanVien

@{
    ViewBag.Title = "Create";
}

@section PageHeader
{
    Nhân Viên
}

@section Breadcrumb
{
    <li class="active">Nhân Viên</li>
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Nhân Viên</h3>
        </div>
        <div class="form-horizontal">
            <div class="box-body">

                <div class="form-group">
                    @Html.LabelFor(model => model.TenNhanVien, "Tên Nhân Viên", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.TenNhanVien, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.TenNhanVien)
                </div>
               
                <div class="form-group">
                    @Html.LabelFor(model => model.GioiTinh, "Giới Tính", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.DropDownList("GioiTinhID", null, String.Empty, new { @class = "form-control"})
                    </div>
                    @Html.ValidationMessageFor(model => model.GioiTinh)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NgaySinh, "Ngày Sinh", new { @class = "col-sm-2 control-label" })

                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.NgaySinh, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.NgaySinh)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SoDT, "Số Điện thoại", new { @class = "col-sm-2 control-label" })

                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.SoDT, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.SoDT)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DiaChi, "Địa Chỉ", new { @class = "col-sm-2 control-label" })

                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.DiaChi, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.DiaChi)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LoaiNhanVienID, "Loại Nhân Viên", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.DropDownList("LoaiNhanVienID", null, String.Empty, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.LoaiNhanVienID)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BoPhanID, "Bộ Phận", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.DropDownList("BoPhanID", null, String.Empty, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.BoPhanID)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ChucVuID, "Chức Vụ", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.DropDownList("ChucVuID", null, String.Empty, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.ChucVuID)
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.Phong, "Trực Thuộc Phòng", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.DropDownList("PhongID", null, String.Empty, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.PhongID)
                </div>*@
            </div>
        </div>

        <div class="box-footer">
            <button type="reset" class="btn btn-default">Hủy</button>
            <button type="submit" class="btn btn-info pull-right">Lưu</button>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
