@model iClinic.Models.RegisterViewModel
@{
    ViewBag.Title = "Đăng kí người dùng";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-6">
        @Html.Action("_SideListNV", "Account")
    </div>
    
    <div class="col-md-6">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Tạo tài khoản mới</h3>
                </div>
                <div class="box-body">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8" style="margin-top: 7px;">
                            @*@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })*@
                            @Html.DisplayFor(m => m.UserName)
                            @Html.HiddenFor(m => m.UserName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FullName, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8" style="margin-top: 7px;">
                            @*@Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })*@
                            @Html.DisplayFor(m => m.FullName)
                            @Html.HiddenFor(m => m.FullName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Loại nhân viên", new { @class = "col-md-4 control-label" })
                        <div class="col-md-8" style="margin-top: 7px;">
                            @*@Html.DropDownListFor(model => model.Role, Model.RoleList)*@
                            @Html.DisplayFor(m => m.Role)
                            @Html.HiddenFor(m => m.Role)
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Đăng kí" />
                        </div>
                    </div>
                </div>
            </div>
            
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
